<!DOCTYPE html>
<html lang="en">

<head>
<div class="container">
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
</head>

<body>
    <h1>Log In</h1>
    <form method="post" action="/api/session/login">
        <input type="text" name="email" placeholder="Email Address">
        <input type="text" name="password" placeholder="Password">
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
        <a href="/api/posts"><button type="submit" class="btn btn-primary">Back to Posts</button></a>
    </div>
</body>

</html>
